<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Funny Weather App</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

    <h1>Funny Weather App</h1>
    <!-- form to obtain city value -->
    <div class="container">
        <form method="post">
            Enter Your City Below: </br>
            <input type="text" name="city">
        </form>
    </div>
    <div>
        <!-- we will put weather response here -->
    </div>
</body>
</html>